body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(15, 15, 15, 15.095);
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}
.main-box {
  background-color: #2e2d2dc9;
  padding: 10px 20px;
  width: 400px;
  border-radius: 10px;
}

label {
  display: block;
  color: #615d5de1;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 7px 2px;
  background-color: #2e2d2dc9;
  color: #615d5de1;
}
img {
  width: 100px;
}
.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #615d5de1;
}
button {
  margin-top: 10px;
  width: 102%;
  letter-spacing: 3px;
  background-color: #615d5de1;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  color: #222020e1;
}
.sub-title {
  font-style: italic;
}
.footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff25;
}
