@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #e6e6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  padding: 40px 30px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 25%;
}
.container img {
    width: 50px;
    border-radius: 100%;
    
}
.container h2 {
  font-family: "Lobster Two", cursive;
  font-size: 400%;
  color: #2a2a2a;
}

.input-text {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #7a5ca8;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #654c8b;
}

#changeColorBtn {
  background-color: #737373;
}

#changeColorBtn:hover {
  background-color: #4d4d4d;
}