@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-content {
    width: 25%;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 0;
    padding-right: 0;
    border-radius: 20px;
    border: 2px solid rgb(193, 193, 193);
}
.main-content h1 {
    margin-bottom: 5%;
    font-family: "Lobster Two", cursive;
    font-size: 400%;
    color: #2a2a2a;
}
.input-text {
 width: 80%;
 padding: 2%;
 margin: 2%;
 border-radius: 5px;
 border: 1px solid gainsboro;
 
}

.submit {
    width: 85%;
    padding: 3%;
    margin: 2%;
    border-radius: 10px;
    border: 1px solid gainsboro;
    background-color: rgb(151, 65, 151);
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: small;
    cursor: pointer;
  
}
.submit:hover {
    background-color: rgb(99, 43, 99);
}
.bgcolor {
    width: 85%;
    padding: 3%;
    margin: 2%;
    border-radius: 10px;
    border: 1px solid gainsboro;
    background-color: slategray;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: small;
    cursor: pointer;
}
.bgcolor:hover {
    background-color: rgb(87, 99, 111);
}