body{
    align-content: center;
    justify-content: center;
    display: flex;
    background-color: red;

}

.FormContainer{

    width: 260px;
    height: 260px;
    margin-top: 250px;
    align-content: center;
    justify-content: center;
    display: flex;
    background-color: aqua;

}

.input{
    
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 3px;
    border-radius: 50px;

}

#button{
   
}
